{% extends 'base.html' %} 

{% block content %}
  <h1>DETAIL</h1>
  <hr />

  {% if article.image %}
    <img src="{{article.image.url}}" />
  {% endif %}


  <div id="article-content">
    <p>글 제목 : {{article.title}}</p>
    <p>글 내용 : {{article.content}}</p>
    <p>생성시각 : {{article.created_at}}</p>
    <p>수정시각 : {{article.updated_at}}</p>

    <hr>
    <ul>
      <h3>댓글 목록</h3>
      {% for comment in comment_list %}
        <li>
          {{comment.content}}
          <hr>
            <h3>대댓</h3>
            {% for reply in comment.replies.all %}
              <p> {{reply.content}} </p>
            {% endfor %}
            <form action="{% url 'articles:create_comment' article.pk %}" method = "POST">
              <input type="hidden" name="parent_pk" value="{{comment.pk}}">
              {% csrf_token %}
              {{commentForm}}
              <input type="submit" value="대댓글">
            </form>
          <hr>
          <br>
        </li>
        {% endfor %}
        <h3>댓글 달기</h3>
        <form action="{% url 'articles:create_comment' article.pk %}" method = "POST">
          {% csrf_token %}
          {{commentForm}}
          <input type="submit" value="Submit">
        </form>
    </ul>

    <hr>


    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    <form action="{% url 'articles:delete' article.pk %}" id="delete-form">
      {% csrf_token %}
      <input type="submit" value="삭제하기" id="delete-btn" />
    </form><br>
    <hr>
    <a href="{% url 'articles:index' %}">목록보기</a>
  </div>
{% endblock content %}
